body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Barlow', sans-serif;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
}

.loader-container {
  top: 0;
  background-color: #7B21FD;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.logo-img {
  height: 15%;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  animation: appear 0.8s;
}

@keyframes appear {
  0% {
    opacity: 0;
    margin-top: 220px;
  }

  100% {
    opacity: 1;
    margin-top: 180px;
  }
}

.loading-circle-gif {
  margin-top: 70px;
  height: 25px;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  animation: appearCircle 1s;
}

@keyframes appearCircle {
  0% {
    opacity: 0;
    margin-top: 110px;
  }

  100% {
    opacity: 1;
    margin-top: 70px;
  }
}

.loading-tray-container {
  width: 60%;
  
  height: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: appearTray 1.2s;
}

@keyframes appearTray {
  0% {
    opacity: 0;
    margin-top: 70px;
  }

  100% {
    opacity: 1;
    margin-top: 30px;
  }
}

.tray-background {
  width: 100%;
  height: 8px;
  border-radius: 7px;
  background-color: #681AD9;
}

.loader-text {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-top: 30px;
  font-size: 1em;
  animation: appearTray 1.2s;
}

.loader-text-bottom {
  margin-left: 50%;
  transform: translate(-50%);
  color: #fff;
  position: absolute;
  bottom: 0px;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: #F3F0F0;
} 

.home-paper {
  width: 80%;
  height: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #fff;
  filter: drop-shadow(0px -20px 50px rgba(0, 0, 0, 0.25));
  animation: 0.5s appearPaper;
  position: relative;
  overflow: hidden;
}

@keyframes appearPaper {
  0% {
    margin-top: 70px;
    
  }
  100% {
    margin-top: 0px;
    
  }
}

.paper-back {
  background-color: #7B21FD;
  height: 620px;
  width: 100%;
  opacity: 1;
  z-index: -1;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.nav-bar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  animation: 0.5s appearNavbar;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes appearNavbar {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 60px;
  }
}

.logo-small {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 18px;
  color: #fff;
  margin-left: 20px;
}

.nav-side-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-side-div p {
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
}

.user-icon {
  width: 40px;
  height: 40px;
}

.vawes {
  position: absolute;
  height: 90%;
  width: 90%;
  right: -3px;
  bottom: 0px;
  animation: 3s floatVawes;
  animation-iteration-count: infinite;
}

@keyframes floatVawes {
  0%{
    bottom: 0px;
  }
  50% {
    bottom: -50px;
  }
  100% {
    bottom: 0px;
  }
}


.laptop {
  position: absolute;
  right: 80px;
  bottom: 220px;
  height: 50%;
  animation: 3s floatLaptop;
  animation-iteration-count: infinite;
}

@keyframes floatLaptop {
  0%{
    bottom: 220px;
  }
  50% {
    bottom: 160px;
  }
  100% {
    bottom: 220px;
  }
}

.mouse {
  position: absolute;
  right: 280px;
  height: 10%;
  bottom: 120px;
  animation: 3s floatMouse;
  animation-iteration-count: infinite;
}

@keyframes floatMouse {
  0%{
    bottom: 120px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 120px;
  }
}

.coffee {
  position: absolute;
  right: 440px;
  bottom: 350px;
  height: 7%;
  animation: 3s floatCoffee;
  animation-iteration-count: infinite;
}

@keyframes floatCoffee {
  0%{
    bottom: 240px;
  }
  50% {
    bottom: 300px;
  }
  100% {
    bottom: 240px;
  }
}

.phone {
  position: absolute;
  right: 510px;
  bottom: 250px;
  z-index: 1;
  animation: 3s floatPhone;
  height: 10%;
  animation-iteration-count: infinite;
}

@keyframes floatPhone {
  0%{
    bottom: 250px;
  }
  50% {
    bottom: 180px;
  }
  100% {
    bottom: 250px;
  }
}

.note1 {
  position: absolute;
  right: 710px;
  bottom: 250px;
  z-index: 1;
  animation: 3s floatNote1;
  animation-iteration-count: infinite;
  height: 15%;
}

@keyframes floatNote1 {
  0%{
    bottom: 250px;
  }
  50% {
    bottom: 210px;
  }
  100% {
    bottom: 250px;
  }
}

.note2 {
  position: absolute;
  right: 570px;
  bottom: 220px;
  animation: 3s floatNote2;
  animation-iteration-count: infinite;
  height: 20%;
}

@keyframes floatNote2 {
  0%{
    bottom: 220px;
  }
  50% {
    bottom: 160px;
  }
  100% {
    bottom: 220px;
  }
}

.fb {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #fff;
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  transition: 0.2s;
}

.fb:hover {
  transform: scale(1.4);
}

.fb-icon {
  width: 34px;
  height: 34px;
}

.text-container {
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  animation: 0.5s textAppear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes textAppear {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

.hero-text {
  font-size: 27px;
  width: 433px;
  color: #fff;
}

.register-btn {
  display: flex;
  background: none;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  width: 220px;
  height: 45px;
  font-weight: bolder;
  border-radius: 21px;
  border: 3px solid #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  outline: none;
}

.register-btn:hover {
  transform: scale(1.1);
  background: #fff;
  color: #7B21FD;
  outline: none;
}

.register-btn:focus {
  outline: none;
}

.register-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.cards-container {
  
  width: 50%;
  margin-top: 260px;
  height: 455px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  opacity: 0;
  flex-direction: column;
  animation: 0.5s appearCardsContainer;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes appearCardsContainer {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 280px;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
  transition: 0.5s;
}

.card:hover {
  margin-bottom: 20px;
  margin-top: -20px;
  z-index: 1;
  cursor: pointer;
}

.cards-lower {

  display: flex;
  flex-direction: row;
  height: 50%;
  
}

.cards-upper {
  display: flex;
  height: 50%;
  flex-direction: row;
  margin-top: -135px;
} 

.card-header {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.card-text {
  font-size: 13px;
  margin-top: 0px;
  color: #a1a1a1;
  width: 80%;
}

.login-container {
  border-bottom: 1px solid #fff;
  height: 35px;
  width: 80%;
  background-color: #7B21FD;
  margin-left: auto;
  margin-right: auto;
}

.small-navbar-links {
  display: none;
}

.direction-div {
  display: none;
}

@media only screen and (max-width: 361px) {
  .home-paper {
    width: 100%;
  }

  body {
    overflow: visible;
    overflow-x: hidden;
  }

  .paper-back {
    height: 100vh;
    overflow: visible;
  }

  .mouse, .note1, .note2, .phone, .coffe {
    visibility: hidden;
  }

  .laptop {
    animation: none;
  }

  .nav-bar {
    width: 100%;
    margin-top: 0;
  }

  @keyframes appearNavbar {
    0% {
      opacity: 0;
      margin-top: 30px;
    }
    100% {
      opacity: 1;
      margin-top: 20px;
    }
  }
  .nav-side-div {
    display: none;
  }
  .logo-small {
    margin-left: 40px;
  }
  .logo-text {
    font-size: 16px;
    margin-left: 5px;
  }
  .hero-text {
    margin-left: -40px;
    width: 160px;
  }
  .laptop {
    height: 200px;
    top: 80px;
    right: -80px;
  }
  .register-btn {
    margin-left: -40px;
    height: 30px;
    width: 170px;
    font-size: 10px;
    border: 2px solid #fff;
  }
  .register-icon {
    height: 20px;
  }
  .vawes {
    display: none;
  }
  .fb {
    display: none;
  }
  .small-navbar-links {
    display: block;
    position: absolute;
    transform: rotate(90deg);
    top: 360px;
    right: -50px;
  }
  .small-navbar-links a {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
  }

  .direction-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 400px;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
  }

  .direction-div img {
    width: 45px;
    height: 15px;
  }
  .cards-container {
    margin-top: 160px;
    width: 80%;
    height: max-content;
  }
  .cards-upper {
    flex-direction: column;
    width: 100%;
    margin-top: -115px;
  }
  .cards-lower {
    flex-direction: column;
    width: 100%;
  }
  .home-paper {
    background-color: #7B21FD;
    height: max-content;
  }
  .card {
    height: 223px;
    margin-bottom: 46px;
    position: relative;
  }
  .card:nth-child() {
    border: 2px solid #000;
  }
  .arrow {
    position: absolute;
    bottom: -78px;
    z-index: 2;
  }
  .arrow.last {
    display: none;
  }
  .card:hover {
    margin: 5px;
    margin-bottom: 46px;
    z-index: 1;
    cursor: pointer;
  }
  .card-header {
    width: 80%;
    font-size: 14px;
    letter-spacing: 0;
  }
  .card-text {
    font-size: 12px;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #681AD9; 
  border-radius: 10px;
}
} 